{% autoescape off %}

Hi {% if user.first_name and user.last_name %} {{ user.first_name }} {% else %} {{ user.username }} {% endif %},

We received a request to reset the password for your account at {{ site_name }}. You can reset your password by clicking the link below:

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>

If you didn't request a password reset, you can ignore this email. Your password will not be changed.

Thanks,
The {{ site_name }} Team
{% endautoescape %}
